.header{
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
}
.nav{
    display: flex;
    list-style-type:none;
}
.men{
    padding-right: 85px;
}
.menu-r{
    list-style-type:none;
}
.logo-t-l{
    font-size: 120%;
    color: red;
}
.logo-t-r{
    font-size: 120%;
}